body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#title {
    text-align: center;
    margin-top: 20px;
}

.big-button {
    width: 100px;
    height: 50px;
}

#country-button {
    margin: 100px;
}

#income-button {
    margin: 100px;
}